<div class="jumbotron" ng-hide="userIsLogged" class="hg-hide">
    <form class="form-inline">
        <div class="form-group">
            <label for="login">Login:</label>
            <input type="login" class="form-control" id="login" ng-model="userLogin" required/>
        </div>
        <div class="form-group">
            <label for="pass">Password:</label>
            <input type="password" class="form-control" id="pass" ng-model="userPassword" required/>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="login()">Submit</button>
    </form>
    <small><a ng-href="#createUser">Click here to create new user</a></small>
    <br/>
    <div class="alert alert-danger">
        <strong>{{message}}</strong>
    </div>
</div>

<div class="jumbotron">
    <h3>Daily Result</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Restaurant</th>
                <th>Address</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="res in result | orderBy:'-votes'" ng-class="{success:$first}">
                <td>
                    <b>{{res.restaurant.name}}</b>
                </td>
                <td>
                    {{res.restaurant.address}}
                </td>
                <td>{{res.votes}} Vote(s)</td>
            </tr>
        </tbody>
    </table>

</div>